/* Menu.css */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  flex-wrap: wrap; /* Allow items to wrap on small screens */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.menu_item {
  margin-right: 15px;
  color: white;
  text-decoration: none;

}

.submenu {
  position: absolute;
  text-align: left;
  background-color: #333;
  left: -10px;
  top: 25px;
}
.item-product {
  padding: 10px 10px ;
  color: aliceblue;
}

.menu_item--logo {
  font-size: 28px;
}

/* Mobile view */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu_item {
    margin: 10px 10px;
  }

  .search_form {
    width: 100%;
  }

  .search_input {
    width: calc(100% - 80px);
    margin-right: 10px;
  }

  .search_button {
    width: 70px;
  }
}
