.container {
  text-align: center;
}

.scenarios {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.scenario {
  text-align: center;
}

.scenario img {
  max-width: 300px;
  max-height: 300px;

  margin: 0 auto;
}
img a {
  width: 100%;
}

img {
  width: 100%;
  object-fit: fill;
}
.scenario button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.scenario button a {
  text-decoration: none;
  color: white;
}

.scenario button a:hover {
  text-decoration: underline;
}
.scenario button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Remove text decoration from button */
}

.scenario button:hover {
  background-color: #45a049; /* Darken the background color on hover */
}
